<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- configSectionsは先頭に書く必要がある。
       そうしないとアプリ起動時にタイプ初期子が云々 -->
  <configSections>
    <section name="myNumberApiSettings" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <myNumberApiSettings>
    <add key="a" value="" />
  </myNumberApiSettings>
</configuration>