<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For log4net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For ribbonButtonConfig -->
    <section name="ribbonbutonHelpSettings" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false" />
    <!-- For Report Designer -->
    <section name="reportDesignerParameterSettings" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false" />

    <section name="serviceSettings" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="true" />

    <!--レポートビューア用設定-->
    <section name="previewSettings" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false" />
  </configSections>

  <connectionStrings>
    <add name="Hakobou.Properties.Settings.HAKOBOConnectionString"
      connectionString="Data Source=WIN-F8CCJD7V57B\SQLEXPRESS;Initial Catalog=HAKOBO;Persist Security Info=True;User ID=sa;Password=Kyoei7511;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>

  
  
  
  <serviceSettings>
    <!--
    社内開発時は mode を local にすればWCFServiceの中までデバッグ可能。
    リリース時には、下記の項目はコメントも含めて削除し、このプロジェクトの参照設定からWCFServiceを削除すること。
    設定内容の詳細は、開発関連資料の serviceSettings設定手引き.xlsx を参照。
    -->
    <add key="mode" value="withoutldb" />
    <!--<add key="mode" value="local" />-->

    <!--ローカルのライセンスDB接続文字列を暗号化する場合は value に encrypt をセットする-->
    <add key="localdb" value="encrypt x" />
    <!--ライセンスDBの接続文字列は、環境に合わせて設定してください。-->
    <add key="connectionString" value="metadata=res://*/COMMONDB.csdl|res://*/COMMONDB.ssdl|res://*/COMMONDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-F8CCJD7V57B\SQLEXPRESS;initial catalog=HAKOBOLICENSE;persist security info=True;user id=hakobo;password=hakobo;MultipleActiveResultSets=True;App=EntityFramework&quot;" />

    <!--下記の service は mode が local以外 の場合のみ有効-->
    <!--社内開発時-->
    <add key="service a" value="https://localhost/WCFLIB/WcfServiceHost.KESService.svc" />
    <add key="service a" value="https://WIN-F8CCJD7V57B/WCFLIB/WcfServiceHost.KESService.svc" />
    <!--本番機 -->
    <add key="service" value="https://www.unbo.net/HAKOBO/WCFLIB/WcfServiceHost.KESService.svc" />
  </serviceSettings>

  <!-- リボンコントロールのリボンボタンに割り当てる機能の定義 -->
  <ribbonbutonHelpSettings>
    <!--
       keyの値は各画面のリボンボタンのプロパティ KeyTip="XXX" Click="RibbonButton_Click" のXXXに一致する
       valueの内容は、コマンドラインで実行可能な内容を記述する。
    -->
    <add key="CALC" value="CALC.exe" />
    <add key="MANUAL" value="${APPDATA}\KyoeiSystem\HAKOBO\Doc\Manual.pdf" />
    <add key="FAQ" value="http://www.kyoeisystem.co.jp/sup.htm" />
    <add key="WEBHOME" value="http://www.e-ktc.co.jp/" />
    <add key="WEATHER" value="http://weathernews.jp/" />
    <add key="KYOEI" value="http://www.kyoeisystem.co.jp/" />
    <add key="SUPPORT" value="http://www.kyoeisystem.co.jp/" />
    <add key="WEBSEARCH" value="http://www.yahoo.co.jp/" />
  </ribbonbutonHelpSettings>
  <reportDesignerParameterSettings>
    <!--
       keyの値は、レポートタイプ（重複不可）
       valueの１番目：レポートデザイン画面でのズレ調整値（左）
              ２番目：レポートデザイン画面でのズレ調整値（上）
              ３番目：印刷時に使用する１ページあたりの行数（１ページ目）
              ４番目：印刷時に使用する１ページあたりの行数（２ページ目以降）
    -->
    <add key="A" value="29, 10, 32, 40" />
    <add key="B" value="26, 14, 45, 51" />
    <add key="T" value="34,  0, 41, 49" />
    <add key="K" value="26,  9, 16, 20" />
    <add key="C" value="26, 14, 16, 20" />
  </reportDesignerParameterSettings>

  <previewSettings>
    <!--
      印刷プレビューのカスタム指定（ユーザ指定用紙サイズの指定）を「有効」にする場合
      このセクションの customize に available を指定する。
      プレビュー時に用紙の余白を調整する場合は「有効」にする必要がある
    -->
    <add key="customize" value="available" />
    <!--
      カスタム用紙指定チェックボックスのマージンサイズ（左、右）
      value１番目：ボタン位置（左からの相対位置：99は一番右端に追加）
           ２番目：左マージンサイズ
           ３番目：右マージンサイズ（省略時は左マージンと同じ）
      この項目の指定がない場合は左右とも 5 になる
      （上下のマージンサイズは指定不可）
    -->
    <add key="customButton" value="12, 10, 10" />
    <!--
      閉じるボタンのマージンサイズ
      value 内容は customButton と同様
    -->
    <add key="closeButton" value="99, 10, 10" />
  </previewSettings>

  <log4net>
    <!-- ログ出力の定義 -->
    <!--■注意点■
          Appenderは１つのみとする。
          ログフォルダにあるファイルは全て指定日数経過後の削除対象となるため
          ログ以外を配置しないこと。
    -->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- ログレベルフィルター
          ・各レベルごとに出力するかどうかを指定する。
            AcceptOnMatchがtrue指定されたLevelのログのみが出力される。
          ・すべてのLevelのAcceptOnMatchをfalseにすると、ログは一切出力しない。
      -->
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="FATAL" />
        <param name="AcceptOnMatch" value="true" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="ERROR" />
        <param name="AcceptOnMatch" value="true" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="WARN" />
        <param name="AcceptOnMatch" value="true" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="INFO" />
        <param name="AcceptOnMatch" value="true" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="DEBUG" />
        <param name="AcceptOnMatch" value="true" />
      </filter>
      <!-- ファイルの配置先は相対パスでも絶対パスでも環境変数を使用しても良い。 -->
      <param name="File" value="${APPDATA}\\KyoeiSystem\\HAKOBO\\Logs\\Log_" />
      <!-- ファイル名は日付毎に切り替えるモードで固定する。日付部分は変更不可 -->
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <!-- ファイル名は日付毎に切り替えるモードで固定する。変更不可 -->
      <param name="RollingStyle" value="Date" />
      <!-- ファイル名は可変モード固定。変更不可 -->
      <param name="StaticLogFileName" value="false" />
      <!-- MaxSizeRollBackups を最大バックアップ日数として代用する。
           マイナス値を指定した場合、何も削除されない。
      -->
      <param name="MaxSizeRollBackups" value="30" />
      <!-- 追加モード固定（変更不可） -->
      <param name="AppendToFile" value="true" />
      <!-- 逐次フラッシュする。（実行中に最新のログを取得できるようにする） -->
      <param name="ImmediateFlush" value="true" />
      <!-- ログの書式 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%3t] %-5p %m%n" />
      </layout>
      <!--<lockingModeltype="log4net.Appender.RollingFileAppender+MinimalLock" />-->
    </appender>
    <root>
      <!-- ここではすべてのログレベルを指定し、変更不可とする。
           出力するログレベルの制御は Appender のフィルターで行う。
      -->
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LoginCheck" value="false" />
    <add key="TextUr" value="" />
    <add key="TextLr" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <client>
      <endpoint address="https://localhost/WCFLIB/WcfServiceHost.KESService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IKESService"
        contract="KESSVC.IKESService" name="WSHttpBinding_IKESService" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IKESService"
                 receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00"
                 maxReceivedMessageSize="2073741824" maxBufferPoolSize="2073741824"
                 messageEncoding="Text" textEncoding="utf-8" bypassProxyOnLocal="false" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message  clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="WcfServiceHost.KESService">
        <endpoint binding="wsHttpBinding"
          contract="KESSVC.IKESService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>

  </system.serviceModel>

</configuration>