<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfControlLibrary1.Properties.Settings.TRACConnectionString"
            connectionString="Data Source=192.168.0.213;Initial Catalog=TRAC;User ID=sa;Password=miyahara_sv13t"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WpfControlLibrary1.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="WpfControlLibrary1.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WpfControlLibrary1/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WpfControlLibrary1.AutoCompleteEntry">
                <endpoint address="" binding="basicHttpBinding" contract="WpfControlLibrary1.IAutoCompleteEntry">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WpfControlLibrary1/AutoCompleteEntry/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
